# MUST CHANGE FOR AURORA


AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_DEFAULT_REGION=us-east-1

EQUIPMENT_TABLE_NAME=Equipment
TICKETS_TABLE_NAME=Ticket
AURORA_ENDPOINT_URL=http://localhost:8000